* text=auto
*.swift text eol=lf
*.sh text eol=lf
*.plist text eol=lf
*.strings text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.png binary
*.gif binary
*.icns binary
*.dmg binary
